singularity.enabled = true
singularity.autoMounts = true

process {
    withName:FASTQC {
        container = 'biocontainers_fastqc_v0.11.9_cv8.sif'
    }
    withName:MULTIQC {
        container = 'ewels_multiqc_v1.14.sif'
    }
    withName:SPIPE {
        container = 'parse_single_cell.1.0.6p.sif'
    }
    withName:PARSE_QC {
        container = 'parse_qc.sif'
    }
}

notification {
    enabled = true
    to = "${USER}@mrc-lmb.cam.ac.uk"
}

timeline {
    enabled = true
    file = "execution_timeline.html"
}
report {
    enabled = true
    file = "execution_report.html"
}
trace {
   enabled = true
    file = "execution_trace.txt"
}
 dag {
   enabled = true
   file = "pipeline_dag.svg"
}