//Profile config names for nf-core/configs
params {
    config_profile_description = 'The MRC-LMB cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Steven Wingett'
    config_profile_url = 'https://www2.mrc-lmb.cam.ac.uk/'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/public/singularity/containers/nextflow'
}

process {
    executor = 'slurm'
    memory = 100G
  
   errorStrategy = {
        sleep( Math.pow( 2, task.attempt ) * 150 as long )
        return 'retry'
    }
    maxRetries = 3
}

executor {
    submitRateLimit = '1sec'
    queueSize = 100
}

params {
    max_memory = 700.GB
    max_cpus = 112
    max_time = '168.h'
}

process {
    withName:FASTQC {
        container = 'biocontainers_fastqc_v0.11.9_cv8.sif'
    }
    withName:MULTIQC {
        container = 'ewels_multiqc_v1.14.sif'
    }
    withName:SPIPE {
        container = 'parse_single_cell.1.0.6p.sif'
    }
    withName:PARSE_QC {
        container = 'parse_qc.sif'
    }
}

notification {
    enabled = true
    to = "${USER}@mrc-lmb.cam.ac.uk"
}

timeline {
    enabled = true
    file = "execution_timeline.html"
}
report {
    enabled = true
    file = "execution_report.html"
}
trace {
   enabled = true
    file = "execution_trace.txt"
}
 dag {
   enabled = true
   file = "pipeline_dag.svg"
}

cleanup = true
