//Profile config names for nf-core/configs
params {
  config_profile_description = 'The MRC-LMB cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Steven Wingett'
  config_profile_url = 'https://www2.mrc-lmb.cam.ac.uk/'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/public/singularity/containers/nextflow/nextflow_cache/shared'
}

process {
  executor = 'slurm'
}

executor {
    name = 'slurm'
    submitRateLimit = '1sec'
    queueSize = 32
}

params {
  max_memory = 224.GB
  max_cpus = 64
  max_time = '168.h'

  genomes {
    'GRCh38_v102' {
        fasta =	'/public/genomics/species_references/nextflow/Genome_References/Ensembl/Homo_sapiens/GRCh38/FASTA/primary_assembly/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
        bowtie2	= '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Homo_sapiens/GRCh38/Bowtie2/Homo_sapiens.GRCh38.dna.primary_assembly'
        gtf	= '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Homo_sapiens/GRCh38/GTF/Homo_sapiens.GRCh38.102.gtf'
        hisat2_splices = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Homo_sapiens/GRCh38/GTF/Homo_sapiens.GRCh38.102.ss'
        hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Homo_sapiens/GRCh38/HISAT2/'
        star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Homo_sapiens/GRCh38/STAR'
    }

    'GRCm38_v100' {
        fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Mus_musculus/GRCm38/FASTA/primary_assembly/Mus_musculus.GRCm38.dna.primary_assembly.fa'
        bowtie2	= '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Mus_musculus/GRCm38/Bowtie2/Mus_musculus.GRCm38.dna.primary_assembly'
        gtf	= '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Mus_musculus/GRCm38/GTF/Mus_musculus.GRCm38.100.gtf'
        hisat2_splices = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Mus_musculus/GRCm38/GTF/Mus_musculus.GRCm38.100.ss'
        hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Mus_musculus/GRCm38/HISAT2/'
        star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/Mus_musculus/GRCm38/STAR'
    }
}

  //igenomes_base = 'link'
}

notification {
    enabled = true
    to = "${USER}@mrc-lmb.cam.ac.uk"
}
