params {
    config_profile_description = 'The MRC-LMB test configs provided by nf-core/configs.'
    config_profile_contact = 'Steven Wingett'
    config_profile_url = 'https://www.mrc-lmb.cam.ac.uk'
}

profiles {
    standard {
        process.executor = 'local'
    }
}

params {
    genomes {
        'GRCh38_v102' {
            fasta =	'/data1/Genome_References/Ensembl/Homo_sapiens/GRCh38/FASTA/primary_assembly/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
            bowtie2	= '/data1/Genome_References/Ensembl/Homo_sapiens/GRCh38/Bowtie2/Homo_sapiens.GRCh38.dna.primary_assembly'
            gtf	= '/data1/Genome_References/Ensembl/Homo_sapiens/GRCh38/GTF/Homo_sapiens.GRCh38.102.gtf'
            hisat2_splices = '/data1/Genome_References/Ensembl/Homo_sapiens/GRCh38/GTF/Homo_sapiens.GRCh38.102.ss'
            hisat2 = '/data1/Genome_References/Ensembl/Homo_sapiens/GRCh38/HISAT2/'
            star = '/data1/Genome_References/Ensembl/Homo_sapiens/GRCh38/STAR'
        }

        'GRCm38' {
            fasta = '/data1/Genome_References/Ensembl/Mus_musculus/GRCm38/FASTA/primary_assembly/Mus_musculus.GRCm38.dna.primary_assembly.fa'
            bowtie2	= '/data1/Genome_References/Ensembl/Mus_musculus/GRCm38/Bowtie2/Mus_musculus.GRCm38.dna.primary_assembly'
            gtf	= '/data1/Genome_References/Ensembl/Mus_musculus/GRCm38/GTF/Mus_musculus.GRCm38.100.gtf'
            hisat2_splices = '/data1/Genome_References/Ensembl/Mus_musculus/GRCm38/GTF/Mus_musculus.GRCm38.100.ss'
            hisat2 = '/data1/Genome_References/Ensembl/Mus_musculus/GRCm38/HISAT2/'
            star = '/data1/Genome_References/Ensembl/Mus_musculus/GRCm38/STAR'
        }
    }
}


params {
    max_memory = 30.GB
    max_cpus = 20
    max_time = '200.h'
  }
