//Profile config names for nf-core/configs
params {
  config_profile_description = 'The MRC-LMB cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Steven Wingett'
  config_profile_url = 'https://www2.mrc-lmb.cam.ac.uk/'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/public/singularity/containers/nextflow'
}

process {
  executor = 'slurm'
  
  errorStrategy = {
    sleep( Math.pow( 2, task.attempt ) * 150 as long )
    return 'retry'
  }
  maxRetries = 3
}

executor {
    submitRateLimit = '1sec'
    queueSize = 100
}

params {
  max_memory = 700.GB
  max_cpus = 112
  max_time = '168.h'

  genomes {
    'saccharomyces_cerevisiae.R64-1-1.release_105' {
	    fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/saccharomyces_cerevisiae/R64-1-1/Release_105/FASTA/saccharomyces_cerevisiae__R64-1-1__release105.dna.fa'
	    gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/saccharomyces_cerevisiae/R64-1-1/Release_105/GTF/Saccharomyces_cerevisiae.R64-1-1.105.gtf'
	    bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/saccharomyces_cerevisiae/R64-1-1/Release_105/Bowtie2_index/'
	    hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/saccharomyces_cerevisiae/R64-1-1/Release_105/HISAT2_index/'
	    star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/saccharomyces_cerevisiae/R64-1-1/Release_105/STAR_index/saccharomyces_cerevisiae.R64-1-1.dna.105.STAR_index/'
	    hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/saccharomyces_cerevisiae/R64-1-1/Release_105/HiCUP_digest/'
    }

    'drosophila_melanogaster.BDGP6.32.release_105' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/FASTA/drosophila_melanogaster__BDGP6.32__release105.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/GTF/Drosophila_melanogaster.BDGP6.32.105.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/STAR_index/drosophila_melanogaster.BDGP6.32.dna.105.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/drosophila_melanogaster/BDGP6.32/Release_105/HiCUP_digest/'
    }

    'homo_sapiens.GRCh38.release_102' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/homo_sapiens/GRCh38/Release_102/FASTA/homo_sapiens__GRCh38__release102.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/homo_sapiens/GRCh38/Release_102/GTF/Homo_sapiens.GRCh38.102.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/homo_sapiens/GRCh38/Release_102/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/homo_sapiens/GRCh38/Release_102/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/homo_sapiens/GRCh38/Release_102/STAR_index/homo_sapiens.GRCh38.dna.102.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/homo_sapiens/GRCh38/Release_102/HiCUP_digest/'
    }

    'mus_musculus.GRCm38.release_100' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm38/Release_100/FASTA/mus_musculus__GRCm38__release100.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm38/Release_100/GTF/Mus_musculus.GRCm38.100.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm38/Release_100/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm38/Release_100/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm38/Release_100/STAR_index/mus_musculus.GRCm38.dna.100.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm38/Release_100/HiCUP_digest/'
    }

    'mus_musculus.GRCm39.release_108' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm39/Release_108/FASTA/mus_musculus__GRCm39__release108.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm39/Release_108/GTF/Mus_musculus.GRCm39.108.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm39/Release_108/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm39/Release_108/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm39/Release_108/STAR_index/mus_musculus.GRCm39.dna.108.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/mus_musculus/GRCm39/Release_108/HiCUP_digest/'
    }

    'rattus_norvegicus.mRatBN7.2.release_105' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/rattus_norvegicus/mRatBN7.2/Release_105/FASTA/rattus_norvegicus__mRatBN7.2__release105.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/rattus_norvegicus/mRatBN7.2/Release_105/GTF/Rattus_norvegicus.mRatBN7.2.105.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/rattus_norvegicus/mRatBN7.2/Release_105/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/rattus_norvegicus/mRatBN7.2/Release_105/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/rattus_norvegicus/mRatBN7.2/Release_105/STAR_index/rattus_norvegicus.mRatBN7.2.dna.105.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/rattus_norvegicus/mRatBN7.2/Release_105/HiCUP_digest/'
    }

    'pan_troglodytes.Pan_tro_3.0.release_105' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/pan_troglodytes/Pan_tro_3.0/Release_105/FASTA/pan_troglodytes__Pan_tro_3.0__release105.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/pan_troglodytes/Pan_tro_3.0/Release_105/GTF/Pan_troglodytes.Pan_tro_3.0.105.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/pan_troglodytes/Pan_tro_3.0/Release_105/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/pan_troglodytes/Pan_tro_3.0/Release_105/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/pan_troglodytes/Pan_tro_3.0/Release_105/STAR_index/pan_troglodytes.Pan_tro_3.0.dna.105.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/pan_troglodytes/Pan_tro_3.0/Release_105/HiCUP_digest/'
    }

    'gorilla_gorilla.gorGor4.release_105' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_105/FASTA/gorilla_gorilla__gorGor4__release105.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_105/GTF/Gorilla_gorilla.gorGor4.105.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_105/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_105/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_105/STAR_index/gorilla_gorilla.gorGor4.dna.105.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_105/HiCUP_digest/'
    }

    'gorilla_gorilla.gorGor4.release_110' {
        fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_110/FASTA/gorilla_gorilla__gorGor4__release110.dna.fa'
        gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_110/GTF/Gorilla_gorilla.gorGor4.110.gtf'
        bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_110/Bowtie2_index/'
        hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_110/HISAT2_index/'
        star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_110/STAR_index/'
        hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/gorilla_gorilla/gorGor4/Release_110/HiCUP_digest/'
    }
    
    'macaca_mulatta.Mmul_10.release_105' {
      fasta = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/macaca_mulatta/Mmul_10/Release_105/FASTA/macaca_mulatta__Mmul_10__release105.dna.fa'
      gtf = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/macaca_mulatta/Mmul_10/Release_105/GTF/Macaca_mulatta.Mmul_10.105.gtf'
      bowtie2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/macaca_mulatta/Mmul_10/Release_105/Bowtie2_index/'
      hisat2 = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/macaca_mulatta/Mmul_10/Release_105/HISAT2_index/'
      star = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/macaca_mulatta/Mmul_10/Release_105/STAR_index/macaca_mulatta.Mmul_10.dna.105.STAR_index/'
      hicup_digest = '/public/genomics/species_references/nextflow/Genome_References/Ensembl/macaca_mulatta/Mmul_10/Release_105/HiCUP_digest/'
    }
  }
  //igenomes_base = 'link'
}

notification {
    enabled = true
    to = "${USER}@mrc-lmb.cam.ac.uk"
}

cleanup = true
